<div class="container">
    <h1><%= restaurant %> - Menu</h1>
    <p>Cuisine Type: <strong><%= cuisine %></strong></p>
    <ul>
        <% menu.forEach(item => { %>
            <li><%= item.name %>: <%= item.description %> - $<%= item.price %></li>
        <% }); %>
    </ul>
    <a href="/" class="btn">Back to Home</a>
</div>
